.idea/
.vscode/
.gitignore
model_files
model_files/FLAME2020
model_files/hubert_models
model_files/pretrained_cpt
model_files/smplx_models
model_files/t2m_evaluators
model_files/t5_models
model_files_bk/
results/
experiments/
third_party/
scripts/misc/
lom/data/mixed_dataset/__pycache__/
configs/mics/
mics/
